![alt text][logo]

[logo]:logo.jfif

**[WORLD DATA LAB]((https://worlddata.io/)) HACKATHON**

***Unleashing the Potential of Youth Employment Data in Kenya, Rwanda and Ghana***

---

<H1 style="text-align: center;">ANALYSIS OF YOUTH EMPLOYMENT IN RURAL AND URBAN AREAS IN TERMS OF SEX AND ECONOMIC ACTIVITY</H1>

---


**Steps followed:**

**Step 1:** Loading and Understanding the Data

**Step 2:** Data Cleaning and Wrangling

**Step 3:** Exploratory Data Analysis and Data Visualization

**Step 4:** Feature Engineering, Model Selection and Model Refinement

## STEP 1: Loading Data
---

1. Loading the files for Kenya, Rwanda, and Ghana.
2. Joining the all the files into one dataframe.
3. Group the combined dataframe by indicators
4. Choosing the 'Employment by sex, rural/urban areas and econonimic activity (thousands)' indicator for analysis.
---

In [1]:
import pandas as pd

In [2]:
# kenya = pd.read_csv('Kenya National.csv')
# rwanda = pd.read_csv('Rwanda national.csv')
# ghana = pd.read_csv('Ghana National.csv')

In [3]:
# Getting the size of the imported data in terms of rows and columns
# print('Kenya Data Size: ', kenya.shape)
# print('Ghana Data Size: ', ghana.shape)
# print('Rwanda Data Size: ', rwanda.shape)

In [4]:
# df_total = pd.concat([kenya, rwanda, ghana], axis=0)

In [5]:
# Getting the size of the combined dataframe
# df_total.shape

In [6]:
# indicator_groups = df_total.groupby('indicator')

In [7]:
# data = indicator_groups.get_group('EMP_2EMP_SEX_GEO_ECO_NB')

In [8]:
# data.shape

In [9]:
# data.to_csv('data.csv', index=False)
# print('Required Group Saved as CSV')

**Reading the saved data.csv file**

In [10]:
data = pd.read_csv('data.csv')

## STEP 2: Data Cleaning
---

1. Droping Unrequired columns
2. Data formating
3. Handling missing values
---

#### **1. Dropping Unrequired Columns**

In [11]:
data.head()

,ref_area,ref_area.label,source,source.label,indicator,indicator.label,sex,sex.label,classif1,classif1.label,...,time,obs_value,obs_status,obs_status.label,note_classif,note_classif.label,note_indicator,note_indicator.label,note_source,note_source.label
0,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_GEO_ECO_NB,"Employment by sex, rural / urban areas and eco...",SEX_T,Sex: Total,GEO_COV_NAT,Area type: National,...,2019,23116.127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_GEO_ECO_NB,"Employment by sex, rural / urban areas and eco...",SEX_T,Sex: Total,GEO_COV_NAT,Area type: National,...,2019,12566.568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_GEO_ECO_NB,"Employment by sex, rural / urban areas and eco...",SEX_T,Sex: Total,GEO_COV_NAT,Area type: National,...,2019,1433.338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_GEO_ECO_NB,"Employment by sex, rural / urban areas and eco...",SEX_T,Sex: Total,GEO_COV_NAT,Area type: National,...,2019,9116.221,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KEN,Kenya,XA:1909,ILO - Modelled Estimates,EMP_2EMP_SEX_GEO_ECO_NB,"Employment by sex, rural / urban areas and eco...",SEX_T,Sex: Total,GEO_COV_RUR,Area type: Rural,...,2019,14073.202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data.columns

Index(['ref_area', 'ref_area.label', 'source', 'source.label', 'indicator',
       'indicator.label', 'sex', 'sex.label', 'classif1', 'classif1.label',
       'classif2', 'classif2.label', 'time', 'obs_value', 'obs_status',
       'obs_status.label', 'note_classif', 'note_classif.label',
       'note_indicator', 'note_indicator.label', 'note_source',
       'note_source.label'],
      dtype='object')

In [13]:
cols_drop = ['ref_area', 'source', 'source.label', 'indicator','indicator.label', 'sex.label', 'classif1',
            'classif2', 'obs_status','obs_status.label', 'note_classif', 'note_classif.label',
            'note_indicator', 'note_indicator.label', 'note_source','note_source.label']

data.drop(cols_drop, axis = 1, inplace = True)

In [14]:
data.head()

,ref_area.label,sex,classif1.label,classif2.label,time,obs_value
0,Kenya,SEX_T,Area type: National,Economic activity (Broad sector): Total,2019,23116.127
1,Kenya,SEX_T,Area type: National,Economic activity (Broad sector): Agriculture,2019,12566.568
2,Kenya,SEX_T,Area type: National,Economic activity (Broad sector): Industry,2019,1433.338
3,Kenya,SEX_T,Area type: National,Economic activity (Broad sector): Services,2019,9116.221
4,Kenya,SEX_T,Area type: Rural,Economic activity (Broad sector): Total,2019,14073.202

#### **2. Data Formating**

Formatting sex column to have only sex labels

In [15]:
sex_list = data['sex'].tolist()
sex = []

for i in sex_list:
    sex.append(i.split('_')[1])

data['sex'] = sex

Formatting Classif1 column to have only required data and renaming it to first_classifier

In [16]:
classif1_list = data['classif1.label'].tolist()
c_1 = []

for i in classif1_list:
    c_1.append(i.split(': ')[1])
    
data['first_classifier'] = c_1
data.drop('classif1.label', axis=1, inplace=True)

Formatting Classif2 column to have only required data and renaming it to second_classifier

In [17]:
classif2_list = data['classif2.label'].tolist()
c_2 = []

for i in classif2_list:
    c_2.append(i.split(': ')[1])

data['second_classifier'] = c_2
data.drop('classif2.label', axis=1, inplace=True)

In [18]:
data.head()

  ref_area.label sex  time  obs_value first_classifier second_classifier
0          Kenya   T  2019  23116.127         National             Total
1          Kenya   T  2019  12566.568         National       Agriculture
2          Kenya   T  2019   1433.338         National          Industry
3          Kenya   T  2019   9116.221         National          Services
4          Kenya   T  2019  14073.202            Rural             Total

Renaming columns 
> 'ref_area.lable' to 'country' <br>
> 'time' to 'year'

In [19]:
data.rename(columns={'ref_area.label':'country', 'time':'year', 'first_classifier':'region', 'second_classifier':'activity'}, inplace=True)

In [20]:
data.head(3)

  country sex  year  obs_value    region     activity
0   Kenya   T  2019  23116.127  National        Total
1   Kenya   T  2019  12566.568  National  Agriculture
2   Kenya   T  2019   1433.338  National     Industry

In [21]:
data.dtypes

country       object
sex           object
year           int64
obs_value    float64
region        object
activity      object
dtype: object

#### **3. Handling Missing Values**

In [22]:
for col in data.columns:
    print('Number of Missing Values in {} column are {}'.format(col, data[col].isnull().sum()))

Number of Missing Values in country column are 0
Number of Missing Values in sex column are 0
Number of Missing Values in year column are 0
Number of Missing Values in obs_value column are 0
Number of Missing Values in region column are 0
Number of Missing Values in activity column are 0

**There are no missing values in the data**

---

## STEP 3: Exploratory Data Analysis and Data Visualization

---

**Building a dasboard using DASH and Plotly to visualize the data**

In [23]:
import plotly.express as px
import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output, State
import dash_bootstrap_components as dbc
from dash.exceptions import PreventUpdate

In [ ]:
total = ['All Years']
years = [i for i in range(2005,2020,1)]
all = total + years

# Sidebar style on the left
SIDEBAR_STYLE = {
    "position": "fixed",
    "top": 0,
    "left": 0,
    "bottom": 0,
    "width": "16rem",
    "padding": "3rem 1rem",
    "background-color": "#c2c2c2",
}

# Content style on the right
CONTENT_STYLE = {
    "margin-left": "18rem",
    "margin-right": "2rem",
    "padding": "2rem 1rem",
}

sidebar = html.Div(
    [
        html.H2("Filters"),
        html.Hr(),
        html.P(),
        
        # Options
        html.Div(children=[
            # Choose Country
            html.Div(children=[
                html.H4('Choose Country:'),
                dcc.Dropdown(id='country',
                            options=[
                                {'label':'All Countries', 'value':'AC'},
                                {'label':'Kenya', 'value':'Kenya'},
                                {'label':'Rwanda', 'value':'Rwanda'},
                                {'label':'Ghana', 'value':'Ghana'}
                            ],
                            value ='AC')
            ]),
            
            # Choose Region
            html.Div(children=[
                html.H4('Choose Region:'),
                dcc.Dropdown(id='region',
                            options=[
                                {'label':'National', 'value':'National'},
                                {'label':'Urban', 'value':'Urban'},
                                {'label':'Rural', 'value':'Rural'}
                            ],
                            value ='National')
            
            ]),
            
            # Choose Year
            html.Div(children=[
                html.H4('Choose Year:'),
                dcc.Dropdown(id='year',
                            options=[
                                {'label':i, 'value': i} for i in all],
                            value ='All Years')
            ])
        ]),
           
    ],
    style=SIDEBAR_STYLE,
)

content = html.Div(children=[
    # Dashboard title
    html.Div(html.H2('YOUTH EMPLOYMENT IN RURAL AND URBAN AREAS IN TERMS OF SEX AND ECONOMIC ACTIVITY', style={'textAlign':'center'})),
    html.Hr(), 
    # Graph
    html.Div(children=[
        html.Div(id='plot')
    ])

], style=CONTENT_STYLE)

# Initializing the app
app = dash.Dash(external_stylesheets=[dbc.themes.BOOTSTRAP])

# Creating the app layout
app.layout = html.Div(children=[sidebar, content])


# App Callback
@app.callback(Output(component_id='plot', component_property='children'),
              
             [Input(component_id='country', component_property='value'),
             Input(component_id='region', component_property='value'),
             Input(component_id='year', component_property='value')],
              
             State(component_id='plot', component_property='children'))


def get_graph(country, region, year, children):
    
    if country == 'AC' or year == 'All Years':
                            
        if country == 'AC' and year == 'All Years':
            df = data[(data['region']==region)]
            avg_val = df.groupby(['activity','sex'])['obs_value'].sum().reset_index()
            fig = px.bar(avg_val, x='activity', y='obs_value', color='sex', barmode='group')
            return dcc.Graph(figure=fig)
        
        elif country == 'AC':
            df = data[(data['region']==region) & (data['year']==year)]
            avg_val = df.groupby(['activity','sex'])['obs_value'].sum().reset_index()
            fig = px.bar(avg_val, x='activity', y='obs_value', color='sex', barmode='group')
            return dcc.Graph(figure=fig)
        
        
        elif year == 'All Years':
            df = data[(data['country']== country) & (data['region']==region)]
            avg_val = df.groupby(['activity','sex'])['obs_value'].sum().reset_index()
            fig = px.bar(avg_val, x='activity', y='obs_value', color='sex', barmode='group')
            return dcc.Graph(figure=fig)
              
    else:
        df = data[(data['country']== country) & (data['region']==region) & (data['year']==year)]
        avg_val = df.groupby(['activity','sex'])['obs_value'].sum().reset_index()
        fig = px.bar(avg_val, x='activity', y='obs_value', color='sex', barmode='group')
        return dcc.Graph(figure=fig)


# Running the app
if __name__ == '__main__':
    app.run_server()

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:8050
Press CTRL+C to quit
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET /_dash-component-suites/dash/dcc/async-dropdown.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Feb/2023 19:34:17] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 304 -
127.0.0.1 - - [28/Feb/2023 19:35:25] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:35:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:36:15] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:36:17] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:36:19] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:36:57] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:37:33] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:37:35] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:37:38] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:37:55] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:38:21] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:38:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:38:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:38:49] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:39:07] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:39:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:49:26] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:49:30] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:50:13] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:50:15] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:50:16] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:56:28] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:56:32] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:56:34] "POST /_dash-update-component HTTP/1.1" 200 -
127.0.0.1 - - [28/Feb/2023 19:56:36] "POST /_dash-update-component HTTP/1.1" 200 -

## STEP 4: Feature Engineering, Model Selection and Model Refinement

---

1. Feature Engineering
2. Model Selection and Refinement
---

#### **1. Feature Engineering**

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(data, x='country', y='obs_value')

The above boxplot shows enough difference between the different contries for it to be a good feature.

---

In [ ]:
sns.boxplot(data, x='sex', y='obs_value')

The above boxplot shows enough difference between the different genders for it to be a good feature.

---

In [ ]:
sns.boxplot(data, x='region', y='obs_value')

The above boxplot shows enough difference between the different regions for it to be a good feature.

---

In [ ]:
sns.boxplot(data, x='activity', y='obs_value')

The above boxplot shows enough difference between the different economic activities for it to be a good feature.

---

In [ ]:
# Groping the data by years and finding the mean of the observed value
df = data.groupby('year')['obs_value'].mean().reset_index()
sns.regplot(df, x='year', y='obs_value')

**OneHotEncoding Categorical Data Using Column Transformer.**

In [ ]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [ ]:
categorical_data = ['country', 'sex', 'region', 'activity']

categorical_transformer = OneHotEncoder(handle_unknown='ignore')

column_transformer = ColumnTransformer(transformers=[
    ('categorical_columns', categorical_transformer, categorical_data),
], remainder='passthrough')

#### **2. Model Selection and Refinement**

+ Spliting data to training and testing sets
+ RandomForestRegressor and XGBRegressor models used.
+ Model accuracy checked using R Squared score

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline

**Spliting the Data to Training and Testing Sets**

In [ ]:
x = data.drop('obs_value', axis=1)
y = data['obs_value']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

**Random Forest Regressor**

In [ ]:
# Function that takes in n_estimator parameter for the model and returns cross validation scores
def get_forest_scores(n_estimators):
    pipe = Pipeline(steps=[
        ('one_hot_encoding', column_transformer),
        ('model', RandomForestRegressor(n_estimators=n_estimators))])
    
    scores = cross_val_score(pipe, x_train, y_train, cv = 5)
    
    return scores.mean()

In [ ]:
results = {}

for i in range(4, 8):
    results[500*i] = get_forest_scores(50*i)

results

The best n_estimator value is 2500

In [ ]:
forest_model = RandomForestRegressor(n_estimators=2500)
forest_pipe = Pipeline(steps=[
        ('one_hot_encoding', column_transformer),
        ('model', forest_model)])
forest_pipe.fit(x_train, y_train)
forest_pipe.score(x_test, y_test)

**XGB Regressor**

In [ ]:
# Function that takes in n_estimator parameter for the model and returns cross validation scores
def get_xgb_scores(n_estimators):
    pipe = Pipeline(steps=[
        ('one_hot_encoding', column_transformer),
        ('model', XGBRegressor(n_estimators=n_estimators, learning_rate=0.05))])
    
    scores = cross_val_score(pipe, x_train, y_train, cv = 5)
    
    return scores.mean()

In [ ]:
results = {}

for i in range(1, 11):
    results[500*i] = get_xgb_scores(50*i)

results

The best n_estimator value is 5000

In [ ]:
xgb_model = XGBRegressor(n_estimators=5000, learning_rate=0.05)
xgb_pipe = Pipeline(steps=[
        ('one_hot_encoding', column_transformer),
        ('model', xgb_model)])
xgb_pipe.fit(x_train, y_train)
xgb_pipe.score(x_test, y_test)

---
R Squared Score are:
>Random Forest Regressor = 0.9970 <br>
>XGB Regressor = 0.9983

<br>

**XGB Regressor Model performes better than the Random Forest Regressor Model**

---

#### **Creating a Dashboard to deploy the Model**

---

In [ ]:
# Creating the app
model_app = dash.Dash(external_stylesheets=[dbc.themes.BOOTSTRAP])

years = [i for i in range(2005,2031,1)]

SIDEBAR_STYLE = {
    "position": "fixed",
    "top": 0,
    "left": 0,
    "bottom": 0,
    "width": "32rem",
    "padding": "3rem 1rem",
    "background-color": "#c2c2c2",
}

# Content style on the right
CONTENT_STYLE = {
    "margin-left": "36rem",
    "margin-right": "2rem",
    "padding": "2rem 1rem",
}

sidebar = html.Div(
    [
        html.H2('Model Attributes'),
        html.Hr(),
        html.P(),
        
        # Options
        html.Div(children=[
            html.Div(children=[
                html.H4('Choose Country:'),
                dcc.Dropdown(id = 'country',
                             options=[{'label':'Kenya', 'value':'Kenya'},
                                     {'label':'Rwanda', 'value':'Rwanda'},
                                     {'label':'Ghana', 'value':'Ghana'}
                                     ],
                            placeholder='Choose Country')
            ]),
            
            # Choose Region
            html.Div(children=[
                html.H4('Choose Region:'),
                dcc.Dropdown(id='region',
                            options=[
                                {'label':'National', 'value':'National'},
                                {'label':'Urban', 'value':'Urban'},
                                {'label':'Rural', 'value':'Rural'}
                            ],
                            placeholder= 'Choose Region')
            
            ]),

            # Choose Economic Activity
            html.Div(children=[
                html.H4('Choose Economic Activity:'),
                dcc.Dropdown(id='activity',
                            options=[
                                {'label':'Total', 'value':'Total'},
                                {'label':'Agriculture', 'value':'Agriculture'},
                                {'label':'Industry', 'value':'Industry'},
                                {'label':'Services', 'value':'Services'}
                            ],
                            placeholder='Choose Economic Activity')
            ]),

            # Choose Gender
            html.Div(children=[
                html.H4('Choose Gender:'),
                dcc.Dropdown(id='gender',
                            options=[
                                {'label':'Total', 'value':'T'},
                                {'label':'Female', 'value':'F'},
                                {'label':'Male', 'value':'M'}
                            ],
                            placeholder='Choose Gender')
            ]),
            
            # Choose Year
            html.Div(children=[
                html.H4('Choose Year:'),
                dcc.Dropdown(id='year',
                            options=[
                                {'label': i, 'value': i} for i in years
                            ],
                            placeholder='Choose Year')
            ]),
        ]),
           
    ],
    style=SIDEBAR_STYLE,
)

content = html.Div(children=[
    # Dashboard title
    html.Div(html.H2('Observed Value Prediction', style={'textAlign':'center'})),
    html.Hr(), 
    # Prediction
    html.Div(children=[
        html.Div(html.H1(id='prediction', style={'textAlign':'center'}))
    ])

], style=CONTENT_STYLE)

# Creating app Layout
model_app.layout = html.Div(children=[sidebar, content])

# App Callback
@model_app.callback(Output(component_id='prediction', component_property='children'),
              
                 [Input(component_id='country', component_property='value'),
                 Input(component_id='region', component_property='value'),
                 Input(component_id='activity', component_property='value'),
                 Input(component_id='gender', component_property='value'),
                 Input(component_id='year', component_property='value')])

def get_prediction(country, region, activity, gender, year):
    
    if country is None or region is None or activity is None or gender is None or year is None:
        
        raise PreventUpdate
        
    else:
        values = {'country':country, 
                  'sex':gender, 
                  'year':year, 
                  'region':region, 
                  'activity':activity}

        df_pred = pd.DataFrame(values, index=[0])
        prediction = xgb_pipe.predict(df_pred)

        return prediction

# Running App
if __name__ == '__main__':
    model_app.run_server()